@import 'tailwindcss';

body,html{
  background-color: #f0f0f0;
  overflow-y: hidden;
}



*{
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}



/*Mui customs*/
.MuiChartsAxis-root{display: none;}
.css-yp0zfy-MuiChartsWrapper-root{
  pointer-events: none; 
}

.MuiButtonBase-root{
  background-color: #142733 !important;
}

.MuiButtonBase-root:hover{
  background-color: #214155 !important;
}

/*Auth Customs*/
#auth-bg{
  background: linear-gradient(to bottom, #8cfff4 0%, #f0f0f0  90%);
}

.auth-boxShadow{
  filter: drop-shadow(0 0 2px rgba(0,0,0,.3));
  /* scroll-behavior: smooth; */
}

/*Dashboard customs*/

#uv-gauge .css-b9rdri-MuiGauge-referenceArc{
  fill: url('#Uv-Gradient');
}

.arrow,
.arrow::before {
  position: absolute !important;
  width: 8px;
  height: 8px;
  background: inherit;
  border-color: inherit;
  border-width: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.popper[data-popper-placement='top'] > .arrow {
  bottom: -4px !important;
  border-left-width: 0 !important;
  border-top-width: 0 !important;
}

.popper[data-popper-placement='bottom'] > .arrow {
  top: -4px !important;
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
}

.popper[data-popper-placement='left'] > .arrow {
  right: -4px !important;
  border-left-width: 0 !important;
  border-bottom-width: 0 !important;
}

.popper[data-popper-placement='right'] > .arrow {
  left: -4px !important;
  border-right-width: 0 !important;
  border-top-width: 0 !important;
}

@theme { 
  --color-trueWhite:rgb(255,255,255);
  --color-white:#f0f0f0;
  --color-primary:#142733;
  --color-secondary:#8CCCF4
}